:root {
  --background: white;
  --text-primary: #00284b;
  --text-secondary: #fc7a08;
  --form-bg: #f8f9fa;
  --nav-thin: #00284b;
  --nav-center: white;
  --border-thesis-div: RGBA(0, 0, 0, 0.1);
  --border-thesis-title: #fc7a08;
  --nav-mid: white;
  --view: #00284b;
  --offcanvas: white;
  --form-bg: white;
}

[data-theme='dark'] {
  --background: #00284b;
  --text-primary: white;
  --text-secondary: #fc7a08;
  --form-bg: #008290;
  --nav-thin: #0053787f;
  --nav-center: #00284b;
  --border-thesis-div: RGBA(255, 255, 255, 0.1);
  --nav-mid: #00284b;
  --view: white;
  --offcanvas: #003750;
  --form-bg: #0b5070;
}

body {
  font-family: "Poppins", sans-serif;
}

.app {
  background-color: var(--background);
  position: absolute;
  min-height: 100%;
  /* transition: background-color .3s ease-in-out; */
}

a {
  text-decoration: none;
}

.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
  color: var(--text-secondary);
}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
  transition: color .3s ease-in-out;
}

.form-proposal {
  background-color: var(--form-bg);
  color: var(--text-primary);
  transition: background-color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.border-thesis-div {
  border-top: 1px solid var(--border-thesis-div);
  display: inline block;
}

.border-thesis-title {
  border-top: 3px solid var(--border-thesis-title);
  display: inline-block;
  padding-top: 30px;
}

.thesis-section {
  margin-left: 5%;
  padding-bottom: 30px;
}

.thesis-form-section {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.filter-decoration {
  color: #00284b  ;
  font-weight: 600 ;
}

.border-thesis-view {
  color: var(--view);
  background: transparent;
  border-radius: 4px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
  text-align: center;
  line-height: 1;
  border: 1px solid RGBA(252, 122, 8, 1);
  display: inline-block;
  cursor: pointer;
  margin-top: 30px;
  font-size: 20;
}

.border-thesis-view:focus,
.border-thesis-view:hover {
  background-color: RGBA(252, 122, 8, 1) !important;
  color: RGBA(255, 255, 255, 1) !important;
}

.card {
  /*border-color: #005fcc !important;*/
  box-shadow: 0 0 0 0.2rem rgba(0, 95, 204, 0.1) !important;
  border-width: thin !important;
}

.custom-btn {
  all: unset;
  background-color: #007ea8;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  min-width: 100px;
  color: #fff;
  padding: 0.375rem 0.75rem;
  text-align: center;
}
.secondary-btn {
  all: unset;
  background-color: #6c757d;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  min-width: 100px;
  color: #fff;
  padding: 0.375rem 0.75rem;
  text-align: center;
}
.custom-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.upper-nav {
  background-color: var(--nav-thin);
  text-align: center;
  line-height: 50px;
  min-height: 3rem;
}

.lower-nav {
  background-color: var(--nav-thin);
  text-align: center;
  line-height: 50px;
  min-height: 3rem;
}

.nav-wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-color: #00284b;
}

.mid-nav {
  line-height: 50px;
  backdrop-filter: blur(10px);
}

.nav-link {
  display: flex;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  color: var(--text-primary);
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.border-thesis-filter {
  border-right: 1px solid var(--border-thesis-div);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--text-secondary);
}

.nav-white-link {
  color: white;
}

.login-form {
  margin-top: 50px;
  height: 600px;
  background-color: #f7f7f7;
}
/* hide arrow-bottom of the dropdown, cause it's nasty */
.dropdown-toggle::after {
  display: none;
}

.badge {
  background-color: #007ea8 !important;
}

.clock-toggle {
  position: fixed;
  top: 0;
  left: 10px;
  width: 3rem;
  height: 2.9rem;
  background-color: RGBA(252, 122, 8, 1);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 2rem;
}

.virtual-clock {
  position: fixed;
  top: 0;
  left: 4rem;
  height: 2.9rem;
  background-color: #fff;
  padding: 0.2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 0.5rem;
}

.switch {
  padding-right: 1.5rem;
}

.offcanvas {
  background-color: var(--offcanvas);
  color: var(--text-primary);
}

.dropdown-menu.show {
  background-color: var(--form-bg);
  color: var(--text-primary);
  opacity: 1;
}

a.dropdown-item {
  color: var(--text-primary);
}

a.dropdown-item:hover {
  background-color: var(--form-bg);
  color: var(--text-secondary);
}
