version: "1.0"

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=user
      - DB_NAME=thesisProposal
      - DB_PASS=password
    networks:
      - integration
  client:
    build: 
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5174:5173"
    depends_on:
      - backend
    networks:
      - integration
  db:
    image: postgres
    restart: always
    volumes:
      - ./dataset:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=user
      - POSTGRES_DB=thesisProposal
    networks:
      - integration
networks:
  integration:
    driver: bridge